swagger: "2.0"

info:
  version: "1.0.0"
  title: "Atom Project"
  description: "バスAPI"
  termsOfService: ""
  contact:
    email: "support@momizi.work"
  license:
    name: "MPL 2.0"
    url: "https://www.mozilla.org/en-US/MPL/2.0/"
    
host: "atom.momizi.work"

basePath: "/api/v1/{company_name}"

schemes:
- "https"

paths:
  /bus/streaming:
    get:
      tags:
      - "bus"
      summary: "[Socket.io] 運行情報"
      produces:
      - "application/json"
      responses:
        200:
          description: "まだ仕様が固まってない"
          schema:
            type: array
            items:
              $ref: "#/definitions/bus"
        500:
          description: "Internal Server Error"
            
definitions:
  location:
    type: object
    properties:
      latitude:
        type: number
      lat:
        type: number
      longitude: 
        type: number
      lon: 
        type: number
      lng: 
        type: number
      long: 
        type: number
        
  stop:
    type: object
    properties:
      id: 
        type: string
      name:
        type: object
        required: [ ja, ja-Hrkt ]
        properties:
          ja: 
            type: string
          ja-Hrkt: 
            type: string
          en:
            type: string
      time:
        type: object
        properties:
          schedule:
            type: string
      location:
        $ref: "#/definitions/location"
        
  bus:
    type: object
    properties:
      run:
        type: boolean
      license_number:
        type: string
      delay:
        type: number
      route_num: 
        type: number
      direction: 
        type: number
      stations:
        type: array
        items:
          $ref: "#/definitions/stop"
      location:
        $ref: "#/definitions/location"
      stops:
        type: object
        properties:
          first:
            $ref: "#/definitions/stop"
          passing:
            $ref: "#/definitions/stop"
          next:
            $ref: "#/definitions/stop"
          last:
            $ref: "#/definitions/stop"
      